body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
}

/*Navbar styling*/
.nabvar {
    height: 5rem !important;
    /* box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3) !important; */
}

.fa-file-code {
    font-size: 900;
    padding: 10px !important;
    margin: 2px !important;
    color: #ffb703 !important;
}

/*Footer styling*/
.fa-links ul {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.fa-links a {
    color: #333;
    /* Changes icon color */
    font-size: 24px;
    /* Increases icon size */
    transition: color 0.3s ease;
}

.fa-links a:hover {
    color: #007bff;
    /* Color changes on hover */
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    padding: 12px 0 12px 0;
    gap: 20px;
    background-color: #d5cece;
}

.fa-info-links a {
    text-decoration: none;
    color: #333;
}

/*Card styling*/
.card {
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

.card-img-top {
    border-radius: 0 !important;
    width: 100% !important;
    object-fit: cover !important;
    cursor: pointer;
}
.card-img-top {
    transition: transform 0.3s ease-in-out;
}

/* 2. Define what happens when the user hovers over it */
.card-img-top:hover {
    transform: scale(1.05); /* Slightly zooms the image */
}

/* 3. Add this to your .card container to hide the image overflow when it zooms */
.card {
    overflow: hidden;
}

.show-body{
    display: flex;
    gap: 12px;
    padding: 12px;
}